# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# IDE things
*.ap_
*.apk
*.class
*.dex
*.iml
*.log
.classpath
.gradle/
.idea/
.project/
bin/
build/
gen/
local.properties
